a {
  color:black;
   text-decoration: none;
      }
h1 {
 font-size:40px;
   }
div.a{text-align: center;
  border-bottom:1px solid gray; margin:0px; padding: 20px;}

  #grid .b{border-right: 1px solid gray;
  width: 200px; margin: 0px;}
  .c{text-align: center;}
  #grid {
   display: grid;
  grid-template-columns: 250px 1fr; }
  body {margin:0px;}
h2 { text-align: center; margin: 0px; padding:20px;}
ol {margin: 0px;}
